// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2024, Danila Tikhonov <danila@jiaxyga.com>
 */

#include "sm8450.dtsi"

/delete-node/ &usb_1_hsphy;
/delete-node/ &ufs_mem_phy;

/delete-node/ &pcieport0;
/delete-node/ &pcie0;
/delete-node/ &pcie0_phy;


&soc {
	usb_1_hsphy: phy@88e3000 {
		compatible = "qcom,sm8475-snps-eusb2-phy",
			     "qcom,sm8550-snps-eusb2-phy";
		reg = <0 0x088e3000 0 0x154>;
		#phy-cells = <0>;

		clocks = <&rpmhcc RPMH_CXO_CLK>;
		clock-names = "ref";

		resets = <&gcc GCC_QUSB2PHY_PRIM_BCR>;

		status = "disabled";
	};

	ufs_mem_phy: phy@1d80000 {
		compatible = "qcom,sm8475-qmp-ufs-phy";
		reg = <0 0x1d80000 0 0x2000>;

		clocks = <&rpmhcc RPMH_CXO_CLK>,
			 <&gcc GCC_UFS_PHY_PHY_AUX_CLK>,
			 <&gcc GCC_UFS_0_CLKREF_EN>;
		clock-names = "ref",
			      "ref_aux",
			      "qref";

		resets = <&ufs_mem_hc 0>;
		reset-names = "ufsphy";

		#clock-cells = <1>;
		#phy-cells = <0>;

		status = "disabled";
	};
};

&camcc {
	compatible = "qcom,sm8475-camcc";
};

&dispcc {
	compatible = "qcom,sm8475-dispcc";
};

&gcc {
	compatible = "qcom,sm8475-gcc";
};

&gpu {
/*
	gpu_opp_table: opp-table {
		compatible = "operating-points-v2";
		opp-900000000 {
			opp-hz = /bits/ 64 <900000000>;
			opp-level = <RPMH_REGULATOR_LEVEL_TURBO_L1>;
		};
		opp-862000000 {
			opp-hz = /bits/ 64 <862000000>;
			opp-level = <RPMH_REGULATOR_LEVEL_TURBO>;
		};
		opp-815000000 {
			opp-hz = /bits/ 64 <815000000>;
			opp-level = <RPMH_REGULATOR_LEVEL_NOM_L1>;
		};
		opp-765000000 {
			opp-hz = /bits/ 64 <765000000>;
			opp-level = <RPMH_REGULATOR_LEVEL_NOM>;
		};
		opp-710000000 {
			opp-hz = /bits/ 64 <710000000>;
			opp-level = <RPMH_REGULATOR_LEVEL_SVS_L2>;
		};
		opp-645000000 {
			opp-hz = /bits/ 64 <645000000>;
			opp-level = <RPMH_REGULATOR_LEVEL_SVS_L1>;
		};
		opp-580000000 {
			opp-hz = /bits/ 64 <580000000>;
			opp-level = <RPMH_REGULATOR_LEVEL_SVS_L0>;
		};
		opp-515000000 {
			opp-hz = /bits/ 64 <515000000>;
			opp-level = <RPMH_REGULATOR_LEVEL_SVS>;
		};
		opp-439000000 {
			opp-hz = /bits/ 64 <439000000>;
			opp-level = <RPMH_REGULATOR_LEVEL_LOW_SVS_L2>;
		};
		opp-364000000 {
			opp-hz = /bits/ 64 <364000000>;
			opp-level = <RPMH_REGULATOR_LEVEL_LOW_SVS_L1>;
		};
		opp-324000000 {
			opp-hz = /bits/ 64 <324000000>;
			opp-level = <RPMH_REGULATOR_LEVEL_LOW_SVS>;
		};
		opp-285000000 {
			opp-hz = /bits/ 64 <285000000>;
			opp-level = <RPMH_REGULATOR_LEVEL_LOW_SVS_D1>;
		};
		opp-220000000 {
			opp-hz = /bits/ 64 <220000000>;
			opp-level = <RPMH_REGULATOR_LEVEL_MIN_SVS>;
		};
	};*/
};

&gpucc {
	compatible = "qcom,sm8475-gpucc";
};

&soc {
	pcie0: pcie@1c00000 {
		device_type = "pci";
		compatible = "qcom,pcie-sm8550";
		reg = <0 0x01c00000 0 0x3000>,
		      <0 0x60000000 0 0xf1d>,
		      <0 0x60000f20 0 0xa8>,
		      <0 0x60001000 0 0x1000>,
		      <0 0x60100000 0 0x100000>;
		reg-names = "parf", "dbi", "elbi", "atu", "config";
		#address-cells = <3>;
		#size-cells = <2>;
		ranges = <0x01000000 0x0 0x00000000 0x0 0x60200000 0x0 0x100000>,
			 <0x02000000 0x0 0x60300000 0x0 0x60300000 0x0 0x3d00000>;
		bus-range = <0x00 0xff>;

		dma-coherent;

		linux,pci-domain = <0>;
		num-lanes = <1>;  // ???

		interrupts = <GIC_SPI 141 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 142 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 143 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 144 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 145 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 146 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 147 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 148 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 140 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "msi0",
				  "msi1",
				  "msi2",
				  "msi3",
				  "msi4",
				  "msi5",
				  "msi6",
				  "msi7",
				  "global";
		#interrupt-cells = <1>;
		interrupt-map-mask = <0 0 0 0x7>;
		interrupt-map = <0 0 0 1 &intc GIC_SPI 0 0 149 IRQ_TYPE_LEVEL_HIGH>, /* int_a */
				<0 0 0 2 &intc GIC_SPI 0 0 150 IRQ_TYPE_LEVEL_HIGH>, /* int_b */
				<0 0 0 3 &intc GIC_SPI 0 0 151 IRQ_TYPE_LEVEL_HIGH>, /* int_c */
				<0 0 0 4 &intc GIC_SPI 0 0 152 IRQ_TYPE_LEVEL_HIGH>; /* int_d */

		clocks = <&gcc GCC_PCIE_0_PIPE_CLK>,
			<&gcc GCC_PCIE_0_PIPE_CLK_SRC>,
			<&pcie0_phy>,
			<&rpmhcc RPMH_CXO_CLK>,
			<&gcc GCC_PCIE_0_AUX_CLK>,
			<&gcc GCC_PCIE_0_CFG_AHB_CLK>,
			<&gcc GCC_PCIE_0_MSTR_AXI_CLK>,
			<&gcc GCC_PCIE_0_SLV_AXI_CLK>,
			<&gcc GCC_PCIE_0_SLV_Q2A_AXI_CLK>,
			<&gcc GCC_DDRSS_PCIE_SF_TBU_CLK>,
			<&gcc GCC_AGGRE_NOC_PCIE_0_AXI_CLK>,
			<&gcc GCC_AGGRE_NOC_PCIE_1_AXI_CLK>;
		clock-names = "pipe",
			      "pipe_mux",
			      "phy_pipe",
			      "ref",
			      "aux",
			      "cfg",
			      "bus_master",
			      "bus_slave",
			      "slave_q2a",
			      "ddrss_sf_tbu",
			      "aggre0",
			      "aggre1";

		interconnects = <&pcie_noc MASTER_PCIE_0 QCOM_ICC_TAG_ALWAYS
				 &mc_virt SLAVE_EBI1 QCOM_ICC_TAG_ALWAYS>,
				<&gem_noc MASTER_APPSS_PROC QCOM_ICC_TAG_ALWAYS
				 &config_noc SLAVE_PCIE_0 QCOM_ICC_TAG_ALWAYS>;
		interconnect-names = "pcie-mem", "cpu-pcie";

		msi-map = <0x0 &gic_its 0x5980 0x1>,
			  <0x100 &gic_its 0x5981 0x1>; /* 32 event IDs */
		iommu-map = <0x0 &apps_smmu 0x1c00 0x1>,
			    <0x100 &apps_smmu 0x1c01 0x1>;

		resets = <&gcc GCC_PCIE_0_BCR>;
		reset-names = "pci";

		power-domains = <&gcc PCIE_0_GDSC>;

		phys = <&pcie0_phy>;
		phy-names = "pciephy";

		pinctrl-names = "default";
		pinctrl-0 = <&pcie0_default_state>;

		perst-gpios = <&tlmm 94 GPIO_ACTIVE_LOW>;
		wake-gpios = <&tlmm 96 GPIO_ACTIVE_HIGH>;

		operating-points-v2 = <&pcie0_opp_table>;

		status = "disabled";

		pcie0_opp_table: opp-table {
			compatible = "operating-points-v2";

			/* GEN 1 x1 */
			opp-2500000 {
				opp-hz = /bits/ 64 <2500000>;
				required-opps = <&rpmhpd_opp_low_svs>;
				opp-peak-kBps = <250000 1>;
			};

			/* GEN 2 x1 */
			opp-5000000 {
				opp-hz = /bits/ 64 <5000000>;
				required-opps = <&rpmhpd_opp_low_svs>;
				opp-peak-kBps = <500000 1>;
			};

			/* GEN 3 x1 */
			opp-8000000 {
				opp-hz = /bits/ 64 <8000000>;
				required-opps = <&rpmhpd_opp_nom>;
				opp-peak-kBps = <984500 1>;
			};
		};


		pcieport0: pcie@0 {
			device_type = "pci";
			reg = <0x0 0x0 0x0 0x0 0x0>;
			bus-range = <0x01 0xff>;

			#address-cells = <3>;
			#size-cells = <2>;
			ranges;
		};
	};

	pcie0_phy: phy@1c06000 {
		compatible = "qcom,sm8550-qmp-gen3x2-pcie-phy";
		//compatible = "qcom,sar2130p-qmp-gen3x2-pcie-phy";
		reg = <0 0x01c06000 0 0x2000>;

		clocks = <&gcc GCC_PCIE_0_AUX_CLK>,
			 <&gcc GCC_PCIE_0_CFG_AHB_CLK>,
			 <&gcc GCC_PCIE_0_CLKREF_EN>,
			 <&gcc GCC_PCIE_0_PHY_RCHNG_CLK>,
			 <&gcc GCC_PCIE_0_PIPE_CLK>;
		clock-names = "aux",
			      "cfg_ahb",
			      "ref",
			      "rchng",
			      "pipe";

		clock-output-names = "pcie_0_pipe_clk";
		#clock-cells = <0>;

		#phy-cells = <0>;

		resets = <&gcc GCC_PCIE_0_PHY_BCR>;
		reset-names = "phy";

		assigned-clocks = <&gcc GCC_PCIE_0_PHY_RCHNG_CLK>;
		assigned-clock-rates = <100000000>;

		status = "disabled";
	};
};

&tlmm {
	compatible = "qcom,sm8475-tlmm";
};

&ufs_mem_hc {
	/*
	freq-table-hz =
		<75000000 850000000>,
		<0 0>,
		<0 0>,
		<75000000 850000000>,
		<75000000 850000000>,
		<0 0>,
		<0 0>,
		<0 0>;
	*/
};

&videocc {
	compatible = "qcom,sm8475-videocc";
};
